<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand text-primary font-weight-bold" href="/">Twitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Mes abonnées</a>
      </li>
      {% if session.user and session.user != null %}
        <li class="nav-item">
          <a class="nav-link" href="/profil/{{session.user.id}}">Mon profil</a>
        </li>
      {% endif %}
      {% if session.user and session.user != null and session.user.status == "ADMIN" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/infos">Les Actualités</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li>
      {% endif %}
    </ul>
    <div>
    {% if session.user or session.user != null %}
      <a type="button" class="btn btn-outline-danger" href="/logout">se déconnecter</a>
    {% else %}
      <div class="row">
        <div class="col-md-7 mb-2">
          <a type="button" class="btn btn-outline-primary" href="/login">se connecter</a>
        </div>
        <div class="col-md-5">
          <a type="button" class="btn btn-outline-primary" href="/logup">s'inscrire</a>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
  </div>
</nav>
